{% extends 'layout.html' %}
{%block content %}
      <div class='container'>
           <form method='get' class='form  mb-2'>
                <div class='form-group'>
                    <label>Search Terms</label>
                    <input type='text' class='form-control' name='search' />
                </div>
                <input type='submit' class='btn btn-primary'/>
            </form>
           
         {% for e in all_user %}
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
		 <h2>{{e['recipe_name']}}</h2>
	   	<img src="" style="width:100%">
			<h5>Cuisine:{{e['cuisine_name']}}</h5> 
			<h6>author:{{e['user_name']}}</h6>
		    <span>{{e['country']}}</span>
           <a href="/recipe/{{e.recipe_id}}" class="read-more">Read More</a>
            <div style='width:300px'>
                    <a href="/edit/{{e.recipe_id}}">[Edit]</a>
                    <a href="/delete/{{e.recipe_id}}">[Delete]</a>
            </div>
           {% endfor %}
        </div>
           
{%endblock%}
       
  