{% extends 'layout.html' %}
{% block title %}recipe{% endblock %}
{%block content %}

    <form method='GET'>
         <div>
         {% for e in recipe %}
            <img src=" ">
               <h2>{{e['recipe_name']}}</h2>
                   <p>Cuisine:{{e['cuisine_name']}}</p>
                   <p>Author:{{e['user_name']}}
                   <span>{{e['country']}}</span></p>
                   <p>{{e['date']}}</p>
                   <p>ingredients:{{e['ingredients']}}</p>
       <div class='process'>
            <h3>process:</h3>
            {%for c in all_process %}
        <ol>
            <li>
              <lable name='process' value='{{c.step}}'>{{c.step}}</lable>
              <p>{{c.description}}</p>
            </li>
        </ol>
                {%endfor%}
             {%endfor%}
        </div>
{%endblock%}
       