{% extends "layout.html" %}
{% block title %}search{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
     <div class="group">
    		<h3>Group Travel</h3>
			<p>Provides an exploration of the new city bustling with creativity and modern landmarks.</p>
	   </div>
  </div>  
</div>
<div class="container">
<div class="row">  
<div class="dropdown show d-inline-block">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    filter
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/sort1">name</a>
    <a class="dropdown-item" href="/sort2">author</a>
    <a class="dropdown-item" href="/sort3">cuisine</a>
    <a class="dropdown-item" href="/sort4">date</a>
  </div>
</div>
<div class="dropdown2 show d-inline-block">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    country
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
   {%for c in all_countries %}
    <a class="dropdown-item"  href="/country/{{c.id}}">{{c.name}}</a>
   {%endfor%}   
  </div>
</div>

<div class="dropdown3 show d-inline-block">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    cuisine
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {%for c in all_cuisine %}
      <a class="dropdown-item" href="/cuisine/{{c.id}}">{{c.name}}</a>
      {%endfor%}  
  </div>
</div>
</div>   
</div>
<div class="container">
    <div class="row"> 
        {%for e in all_search %}
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 block1">
    		<h5 class="recipeName">{{e['recipe_name']}}</h5>
    		<!--<img src="static/1.jpg" style="width:90%" alt="sites">-->
          		<h6>author:{{e['user_name']}}</h6> 
    			<h6>{{e['date']}}</h6> 
                <h6>Cuisine: {{e['cuisine_name']}}</h6>
              	<p class="p1">{{e["intro"]}}</p>
                <a href="/recipe/{{e.recipe_id}}" class="read-more">Read More</a>
                <a href="/edit/{{e.recipe_id}}">[Edit]</a>
                <a href="/delete/{{e.recipe_id}}">[Delete]</a>
        </div> 
         {% endfor %}
      </div>
   </div>
{% endblock %}
  
  
  